{% extends "layout.html" %}

{% block body %}

<!-- about section -->

<section class="about_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 ml-auto pr-0">
        <div class="about_container">
          <div class="row">
            <div class="col-lg-3 col-md-5">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    About
                  </h2>
                </div>
                <p>
                  Hello friends, this website brings together customers and boxing trainers. You can work with any boxing coach you want in any boxing center you want. All you have to do is become a member of our site, make your selection from the boxing centers page and add it to your cart. Once you have successfully completed the purchase process, everything is done. Let's get started...
                </p>
                <hr />
                <a href="class">
                  Boxing Centers Page
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->

{% endblock %}