{% extends "layout.html" %}


{% block body %}

<!-- slider section -->
<section class=" slider_section position-relative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <div class="slider_heading">
          <h2>
            Bo <span>xer</span>
          </h2>
        </div>
      </div>
      <div class="col-md-8 mx-auto">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box">
                <div class="detail-box">
                  <h1>
                    Ercan Fight Center
                  </h1>
                  
                  
                </div>
              </div>
            </div>

            {% for class in classes %}

            <div class="carousel-item">
              <div class="box">
                <div class="detail-box">
                  <h1>
                    {{class.centername}}
                  </h1>
                  
                  
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end slider section -->
</div>

<!-- about section -->

<section class="about_section layout_padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 ml-auto pr-0">
      <div class="about_container">
        <div class="row">
          <div class="col-lg-3 col-md-5">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About
                </h2>
              </div>
              <p>
                Hello friends, on this website users and boxing centers come together. You can choose the boxing center you want from the Boxing Centers page and become a member there after the purchase. That's all. Do not forget that in order to make the purchase, you must first become a member of our website from the registration page and then log in from the login page.
                </p>
              </p>
              <hr />
              <a href="class">
                Boxing Centers Page
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- end about section -->

<!-- class section -->


<!-- end class section -->


<!-- blog section -->

<section class="blog_section layout_padding">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 ml-auto">
      <div class="heading_container">
        <h2>
          Latest Blog
        </h2>
        <p>
          iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pl-0">
      <div class="box b1">
        <div class="img-box">
          <img src="/static/images/b1.jpg" alt="">
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 ml-auto">
            <div class="detail-box">
              <div class="img_date">
                <h6>
                  17 <br>
                  May
                </h6>
              </div>
              <h3>
                Boxer Joniya Daro
              </h3>
              <p>
                Boxing is a dynamic and physically demanding sport that has captivated audiences for centuries. In the boxing ring, two opponents engage in a strategic and intense battle of skill, strength, and agility. The objective is to outmaneuver and land powerful punches on the opponent while evading their attacks. Boxing requires a unique combination of endurance, precision, and mental fortitude as fighters must navigate the intricate dance of footwork, head movement, and defensive strategies. Beyond the physical prowess, the sport often embodies the spirit of discipline, dedication, and sportsmanship, creating a compelling narrative that transcends the confines of the ring.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pr-0">
      <div class="box b2">
        <div class="img-box">
          <img src="/static/images/b2.jpg" alt="">
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 mr-auto">
            <div class="detail-box">
              <div class="img_date">
                <h6>
                  17 <br>
                  Jun
                </h6>
              </div>
              <h3>
                Boxer Joniya Daro
              </h3>
              <p>
                Within the realm of boxing, iconic figures emerge as symbols of resilience and determination. Legendary fighters like Muhammad Ali, Mike Tyson, and Manny Pacquiao have not only left an indelible mark on the sport but have become cultural icons, inspiring generations with their tenacity and skill. The allure of boxing lies not only in the thrilling spectacle of the matches but also in the narratives of triumph over adversity, making it a sport that continues to resonate with fans around the globe.Beyond the physical prowess, the sport often embodies the spirit of discipline, dedication, and sportsmanship, creating a compelling narrative that transcends the confines.                                                                                                                                                                                 
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- end blog section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="client_container">
        <div class="heading_container">
          <h2>
            Our Coaches
          </h2>
          <p>
            You can find information about our coaches here.
          </p>
        </div>
        <div class="client_box-container">
          <div class="carousel-wrap ">
            <div class="owl-carousel">
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="/static/images/client2.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>
                      Jone Moe
                    </h4>
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum. </p>
                    <img src="/static/images/quote.png" alt="" />
                    <br>
                    <a href="class" class="btn btn-danger">
                      Boxing Centers Page
                    </a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="/static/images/client2.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>
                      Lio Uji
                    </h4>
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                    <img src="/static/images/quote.png" alt="" />
                    <br>
                    <a href="class" class="btn btn-danger">
                      Boxing Centers Page
                    </a>
                  </div>
                </div>
              </div>
              
              {% for class in classes %}
              
              <div class="item">
                <div class="box">
                  <div class="img-box">
                    <img src="/static/images/client2.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h4>
                      {{class.coachname}}
                    </h4>
                    <p>
                      {{class.aboutcoach}}
                    </p>
                    <img src="/static/images/quote.png" alt="" />
                    <br>
                    <a href="class" class="btn btn-danger">
                      Boxing Centers Page
                    </a>
                  </div>
                </div>
              </div>

              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- end client section -->

{% endblock %}